*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 260px;
    height: 310px;
    border: solid 1px black; 
    float: left;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.box{
    color: blue;
    
}

img{
    width: 200px;
    height: 220px;
}

.importante{
    font-weight: bolder;
}